
<ion-view  view-title="Can You Recall?">
  <ion-content id="questionAnswer">
    <div class="card">
      <div class="item item-text-wrap">
      {{question}}
      </div>
    </div>
    <div class="padding">
      <label class="item item-input">
        <input type="text" placeholder="Answer" ng-model='answer'>
      </label>
        <button class="button button-block button-energized" ng-click="validateAnswer(answer)">Submit</button>
    </div>
    <!-- Corrent Modal -->
    <script id="correctAnswerModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Correct!</h1>
        </ion-header-bar>
        <ion-content>
          <p>well done</p>
            <div class="padding"></div>
            <p>Answer more questions for more points, or your knomi will starve and turn back into an ordinary rock!</p>
            <button id="okay" class="button" ng-click="closeModal()">Okay</button>
          </div>
        </ion-content>
    </ion-modal-view>
    </script>
    <!-- Wrong Modal -->
    <script id="wrongAnswer.html" type="text/ng-template">
      <ion-modal-view class="padding">
        <ion-header-bar>
          <h1 class="title">Wrong!</h1>
        </ion-header-bar>
        <ion-content>
          <p>you suck</p>
            <div class="padding"></div>
            <p>Answer more questions for more points, or your knomi will starve and turn back into an ordinary rock!</p>
            <button id="okay" class="button" ng-click="closeModal()">Okay</button>
          </div>
        </ion-content>
      </ion-modal-view>

  </ion-content>
</ion-view>

