<ion-view id="questions-main" view-title="Questions">
  <ion-nav-buttons side="right">
    <a id='goAddQbtn' href="#/tab/add-question" class="button button-icon ion-plus"></a>
    <ion-nav-view name="add-question"></ion-nav-view>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>

      <ion-item class="questionList item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/questions/{{item.$id}}">
        <p>
        {{item.question}}<br> 
        Time = <timer countdown=intervalTime(item) interval=1000></timer>
      </p>
      
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
