<link href="css/knomi.css" rel="stylesheet">

<ion-view view-title="Knomi">
  <ion-nav-buttons side="right">

    <button id="help" class="button button-icon ion-help-circled" ng-click="vendorModal()"></button>
    <button id="notify" class="button" ng-click="notify()">
      Notify
    </button>

  </ion-nav-buttons>
  <ion-content scroll="false" id="knomi-page" class="gameArea" >

    <button id="foodCart" style="border: 0; background: transparent" ng-click="foodModal(points)">
      <img src="./img/vendor.png" /><div class="numberInfo">$5</div>
    </button>

    <img ng-if="health > 0" class="health1" src="./img/power1.png">
    <img ng-if="health > 1" class="health2" src="./img/power1.png">
    <img ng-if="health > 2" class="health3" src="./img/power2.png">
    <img ng-if="health > 3" class="health4" src="./img/power2.png">
    <img ng-if="health > 4" class="health5" src="./img/power2.png">
    <img ng-if="health > 5" class="health6" src="./img/power3.png">

    <button id="moneySack" style="border: 0; background: transparent" >
      <img src="./img/bag.png" />
      <div class="userPoints numberInfo" >${{points}}</div>
    </button>

    <div class="knomiContainer">

      <div class="starterKnomi" ng-if="health === 0" ng-drop="true" ng-drop-success="onDropComplete(); feed();"></div>

      <div class="knomileveltwo" ng-if="health > 0" ng-drop="true" ng-drop-success="onDropComplete(); feed();"></div>
    </div>

    <div class="foodItem" ng-repeat="item in foods" ng-drag="true" ng-drag-data="item">
      <img ng-src="{{item.location}}" />
    </div>

  </ion-content>
</ion-view>
