<link href="css/about.css" rel="stylesheet">

<ion-view view-title="About">
  <ion-content class="padding" id="background" scroll="false">
    <div class="about">
      <h2>Know your Knomi</h2>
      <img src="./img/glassrock.png" />
      <p>Literally viral Neutra aesthetic. Etsy normcore blog distillery Echo Park Banksy beard.
      90's sartorial you probably haven't heard of them, ennui hella chia cardigan seitan.</p>

      <p>Slow-carb pickled Truffaut, direct trade YOLO trust fund try-hard mumblecore artisan ugh.
      VHS sustainable retro listicle post-ironic sriracha, jean shorts McSweeney's next level selfies.
      Flexitarian yr fanny pack, small batch Truffaut Thundercats single-origin coffee 90's slow-carb
      messenger bag literally.</p>
      </div>
  </ion-content>
</ion-view>
