<link href="css/about.css" rel="stylesheet">

<ion-view view-title="About">
  <ion-content class="padding" id="background">
    <div class="about">
      <h2>Know your Knomi</h2>
      <p>Literally viral Neutra aesthetic. Etsy normcore blog distillery Echo Park Banksy beard.
      90's sartorial you probably haven't heard of them, ennui hella chia cardigan seitan.
      Slow-carb pickled Truffaut, direct trade YOLO trust fund try-hard mumblecore artisan ugh.
      VHS sustainable retro listicle post-ironic sriracha, jean shorts McSweeney's next level selfies.
      Flexitarian yr fanny pack, small batch Truffaut Thundercats single-origin coffee 90's slow-carb
      messenger bag literally.</p>
      <p>Mlkshk gastropub slow-carb, forage ugh synth wolf Etsy direct trade cronut Helvetica.
        Tofu DIY four loko Pinterest. Pug biodiesel 90's readymade lumbersexual migas, salvia Etsy
        single-origin coffee post-ironic paleo +1 flannel forage. Thundercats kitsch vegan, street
        art hella disrupt gastropub. Banh mi you probably haven't heard of them drinking vinegar pour-over,
        health goth gluten-free pickled pork belly hella art party cronut Pitchfork selvage whatever cray.</p>
      </div>
  </ion-content>
</ion-view>
