<link href="css/knomi.css" rel="stylesheet">

<ion-view view-title="Knomi">
  <ion-content scroll="false" id="knomi-page" class="gameArea" >
    <button id="notify" class="button" ng-click="openModal(); notify()">
      Notify
    </button>
    <div class="knomiContainer">
      <div class="speech" ng-show="visibilityControl" ><img src="./img/speech.png" /></div>

      <div class="starterKnomi" ng-drop="true" ng-drop-success="onDropComplete()" ng-hide="visibilityControl"></div>

      <div class="knomileveltwo" ng-show="visibilityControl"></div>
    </div>

    <div class="foodItem" ng-repeat="item in foods" ng-drag="true" ng-drag-data="item" ng-hide="visibilityControl">
      <img ng-src="{{item.location}}" />
    </div>

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">You did it!</h1>
        </ion-header-bar>

        <ion-content>
          <div class="knomiContainer">
          <p>YOU SO CLEVER!</p>
            <div class="knomileveltwo"></div>
            <button id="okay" class="button" ng-click="closeModal()">Okay</button>
          </div>
        </ion-content>

      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>