<link href="css/knomi.css" rel="stylesheet">

<ion-view view-title="Knomi">
  <ion-content scroll="false" id="knomi-page" class="gameArea" >
    <button id="notify" class="button" ng-click="notify()">
      Notify
    </button>
    <div class="knomiContainer">
      <div class="speech" ng-show="visibilityControl" ><img src="./img/speech.png" /></div>
      <div class="starterKnomi"></div>
    </div>

    <div class="foodItem" ng-repeat="item in foods" ng-drag="true" ng-drag-data="item" ng-hide="visibilityControl">
      <img src="./img/sammich.png" />
    </div>

  </ion-content>
</ion-view>



<!--       <div ng-init="myVar='true'" id="food" ng-repeat="item in food" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
        <img id="item" ng-src="{{item.location}}"/>
      </div> -->