<link href="css/about.css" rel="stylesheet">

<ion-view view-title="About">
  <ion-content class="padding" id="background" scroll="false">
    <div class="about">
      <h3>Welcome to Memoria</h3>
      <img src="./img/glassrock.png" />
      <p>As the Mayor of Memoria, I have to be able to recall a lot of facts.
      Facts feed my citizens, you see. Luckily, here in Memoria, memorisation is fun.
      </p>

      <p>Go find your Knomi egg. You can hatch your egg, feed your Knomi and buy items to keep your Knomi happy.
      To earn money in Memoria you need to remember. So go add questions and answers.
      They could be capitals of the world or words in Spanish or even friends' birthdays!</p>
      <p>Just make sure you keep on getting them right and your Knomi will love you.
      Forget and you might lose your Knomi.</p>
      <p>Look for me in Memoria and I will help you find your way!</p>
      </div>
  </ion-content>
</ion-view>
