<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Knomi Tab -->
  <ion-tab id="Knomi-tab" title="Knomi" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/knomi">
    <ion-nav-view name="tab-knomi"></ion-nav-view>
  </ion-tab>

  <!-- Questions Tab -->
  <ion-tab title="Questions" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/questions">
    <ion-nav-view name="tab-questions"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
