<link href="css/technology.css" rel="stylesheet">

<ion-view view-title="About">
  <ion-content class="padding" id="background" scroll="false">
    <div class="technology">
      <h2>Technologies Used</h2>
      <ul>
        <li>Ionic framework</li>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Firebase</li>
        <li>Protractor</li>
        <li>Karma</li>
      </ul>
      <div class="rockBounceImage"></div>
      </div>
  </ion-content>
</ion-view>
