<link href="css/shopModal.css" rel="stylesheet">
<ion-modal-view>

  <ion-content class="padding" id="shopModal" scroll="false">

    <div class="shop">
      <div id="vendorImage"></div>
        <div id="messages">
          <button ng-click="closeModal()" class="button button-icon ion-close-circled"></button>
          <div id="speechBubble"><img src="./img/shopexplanation.png"></div>
        </div>


      <div id="milk" ng-class="{notAvailable: points.$value < 1}">
        <img src="./img/milk.png" ng-click="points.$value < 1 || feed(1); closeModal()" />
        <span class="priceInfo" >$1</span>
      </div>
      <div id="salmon" ng-class="{notAvailable: points.$value < 3}">
        <img src="./img/salmon.png" ng-click="points.$value < 3 || feed(2); closeModal()" />
        <span class="priceInfo" >$3</span>
      </div>
      <div id="brown-rug" ng-class="{notAvailable: points.$value < 10}">
        <img src="./img/brown-rug.png" ng-click="points.$value < 10 || brownRug(); closeModal()" />
        <span class="priceInfo" >$10</span>
      </div>
      <div id="leopard-rug" ng-class="{notAvailable: points.$value < 10}">
        <img src="./img/leopard-rug.png" ng-click="points.$value < 10 || leopardRug(); closeModal()" />
        <span class="priceInfo" >$10</span>
      </div>
      <div id="starfish-rug" ng-class="{notAvailable: points.$value < 10}">
        <img src="./img/starfish-rug.png" ng-click="points.$value < 10 || starfishRug(); closeModal()" />
        <span class="priceInfo" >$10</span>
      </div>
      <div id="essence-hairball" ng-class="{notAvailable: points.$value < 30}">
        <img src="./img/essence-hairball.png" ng-click="points.$value < 30 || feed(30); closeModal()" />
        <span class="priceInfo" >$30</span>
      </div>
      <div id="pink-bear" ng-class="{notAvailable: points.$value < 20}">
        <img src="./img/pink-bear.png" />
        <span class="priceInfo" >$20</span>
      </div>
      <div id="play-cube" ng-class="{notAvailable: points.$value < 25}">
        <img src="./img/play-cube.png" />
        <span class="priceInfo" >$25</span>
      </div>
      <div id="camera" ng-class="{notAvailable: points.$value < 50}">
        <img src="./img/camera.png" />
        <span class="priceInfo" >$50</span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
