<link href="css/shopModal.css" rel="stylesheet">
<ion-modal-view>

  <ion-content class="padding" id="shopModal">
    <div class="shop">
      <div id="vendorImage"></div><h4>Welcome to my shop</h4>
      <p>Buy items here for your knomi</p>
      <p>Just make sure you can pay</p>

      <div ng-if="points.$value > 1" id="milk">
        <img src="./img/milk.png" ng-click="closeModal()" />
        <span class="priceInfo" >$1</span>
      </div>
      <div ng-if="points.$value > 3" id="salmon">
        <img src="./img/salmon.png" ng-click="closeModal()" />
        <span class="priceInfo" >$3</span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
