#background {
  background-repeat: no-repeat;
  background-image: url("../img/parchment-background.png");
  background-size: 100% 100%;
  background-color: #E3D2B6;
}

.about {
  width: 80%;
  height: 80%;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 16px;
  text-align: justify;
}

.about img {
  float: left;
}

.about h3 {
  text-align: center;
}
