.gameArea {
  background-image: url('../img/field.png');
}

.userPoints {
  color: white;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 200px;
}

.heart1 {
  position: absolute;
  width: 35px;
}

.heart2 {
  position: absolute;
  width: 35px;
  margin-left: 35px;
}

.heart3 {
  position: absolute;
  width: 35px;
  margin-left: 70px;
}

.heart4 {
  position: absolute;
  width: 35px;
  margin-left: 105px;
}

.knomiContainer {
  position: absolute;
  margin-top: 50%;
  margin-left: 35%;
}

.starterKnomi {
  background-image: url('../img/starterrock.png');
  background-size: 85% 85%;
  background-repeat: no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 25px;
  margin-top: 70px;
}

.speech {
  position: absolute;
  margin-left: 75px;
  margin-top: -25px;
}

.speech img {
  width: 10em;
}

.foodItem {
  margin-top: 100%;
  margin-left: 15%;
}

.foodItem img {
  width: 3.5em;
}

#foodCart img {
  width: 3.5em;
}

#foodCart div {
  color: green;
  font-size: 15px;
  font-weight: bold;
  background-color: #E8FAF1;
  border-radius: 10px;
  opacity: 0.8;
}

#okay {
  margin-top: 260px;
  border-radius: 15px;
  background-color: #FAF3E3;
  border-color: #8A8660;
  color: #8A8660;
  box-shadow: 5px 5px 2px #969478;
}

.knomileveltwo {
  position: absolute;
  margin-top: 70px;
  margin-left: 15px;

  width: 80px;
  height: 76px;
  background-repeat: no-repeat;
  background-image: url("../img/level2rock.png");

  -webkit-animation: play .8s steps(12) infinite;
          animation: play .8s steps(12) infinite;
}

@-webkit-keyframes play {
  from { background-position:    0px; }
  to { background-position: -972px; }
}

@keyframes play {
  from { background-position:    0px; }
  to { background-position: -972px; }
}

#vendorModal {
  background-repeat: no-repeat;
  background-image: url("../img/parchment-background.png");
  background-size: 100% 100%;
  background-color: #FAF3E3;
}

.vendor {
  text-align: center;
  margin-left: 30px;
  font-size: 16px;
  margin-top: 80px;
  width: 80%;
}

#vendorImage {
  position: absolute;
  margin-left: 70px;
  width: 189px;
  height: 230px;
  background-repeat: no-repeat;
  background-image: url("../img/vendorspritesheet4.png");

  -webkit-animation: vendor .3s steps(4) infinite;
          animation: vendor .3s steps(4) infinite;
}

@-webkit-keyframes vendor {
  from { background-position:    0px; }
  to { background-position: -756px; }
}

@keyframes vendor {
  from { background-position:    0px; }
  to { background-position: -756px; }
}
