#okay {
  margin-top: 260px;
  border-radius: 15px;
  background-color: #FAF3E3;
  border-color: #8A8660;
  color: #8A8660;
  box-shadow: 5px 5px 2px #969478;
}

#shopModal {
  background-repeat: no-repeat;
  background-image: url("../img/parchment-background.png");
  background-size: 100% 100%;
  background-color: #E3D2B6;
}

.shop {
  text-align: center;
  margin-left: 30px;
  font-size: 16px;
  margin-top: 80px;
  width: 80%;
}
